<head>
    <style type="text/css">
        table,
        td,
        th {
            border: 1px solid black
        }

        table {
            width: 60%;
            text-align: center;
            margin: auto;
        }

        h1,
        a {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>데이터 조회</h1>

    <table>
        <tr>
            <th>id</th>
            <th>content</th>
        </tr>

        <tr>
            {{ range $person := .persons }}
            <td>{{ .ID }}</td>
            <td>{{ .Contents }}</td>
        </tr>
        {{ end }}
        </tr>
    </table>

    <br />

    <a href="/">메인 메뉴로 돌아가기</a>
</body>